@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'common/fonts.scss';
@import "./menu.scss";
@import "./scrollbar.scss";
@import "./arrowcdtop.scss";


// @import "swiper/css/bundle";


// @font-face {
//   font-family: 'mobmenu';
//   font-display: swap;
// }

:root {
    --app-height: 100%;
}

body,
.nav-primary {
    font-family: 'cuprumregular', sans-serif;
}

.logohome {
    font-family: 'acumin_pro_extracondensedIt', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'acumin_pro_extracondensedIt', sans-serif;
}

h2 {
  @apply text-4xl;
}

h3,
h4,
h5,
h6 {
  @apply text-3xl;
}

// p {
//   font-size: 1.5rem;
// }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

// #tela1 {
//   background-image: url("../images/pratos/pratohome2.webp");

// }

// Home
// #tela1 {
//     padding: 0;
//     margin: 0;
//     overflow: hidden;

//     // width: 100vw;
//     height: 85vh;

//     @media not all and (hover: hover) {
//         height: var(--app-height);
//     }
// }

.top-10 {
    top: 2.5rem;
    position: relative;
}

.qrr-booking-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;

    input,
    select,
    textarea {
        @apply text-gray-800;
    }
}

// Pages
// Cardapio
.cardapio {
    @apply bg-tijolocardapio;
}

.horarios,
.hora-que-feliz,
.happy-hour {
    @apply bg-tijolohorarios text-white;

    .wp-block-image.invert img {
        filter: invert(100%);
    }
}

.galeria {
    @apply bg-tijolocardapio;
}

.reservas-data {
    @apply bg-tijologreen;

    form {
        @apply text-gray-200;
    }
}

picture {
  display: flex;
  justify-content: inherit;
}

// Wordpress blocks
// figure.wp-block-pullquote {
//   border-top: 5px solid black;
//   border-bottom: 5px solid black;
// }

// h2.has-text-align-center {
//   border-top: 5px solid black;
//   border-bottom: 5px solid black;
//   padding: 3.5rem 0;
//   margin-bottom: 2rem;
// }

// .wp-block-media-text__content {
//   margin-top: 1rem;
// }

// .wp-block-separator {
//   margin: 1rem 0rem 1rem 0rem;
// }

// .social-icons-div {
//   @apply transform hover:scale-150 transition duration-300 ease-in-out;
// }

// .footer-nav {
//   li {

//     &:hover {
//       text-decoration: underline; 
//     }
//   }
// }

// .wp-block-group.is-layout-constrained {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     grid-column-gap: 15px;
//     grid-row-gap: 15px;
    
//     .wp-block-media-text__media {
//       img {
//         @apply shadow-lg rounded-md max-w-full h-auto align-middle border-none;
//       }
//     }
      
// }

// Cardapio blocks

// .cardapio {
//   @apply text-tijolop bg-tijologreentext;

//   .container {

//     h2 {
//       margin-bottom: 3rem;  
//     }

//     .wp-block-group {
//       @apply grid grid-cols-1 md:grid-cols-3 gap-20;

//       .wp-block-media-text {
//         @apply flex flex-col w-full;

//         figure.wp-block-media-text__media {
//           @apply rounded-lg w-full shadow-2xl lg:h-96 overflow-hidden lg:w-10/12 self-start;

//           img {
//             @apply object-cover object-bottom lg:h-96;
//             object-fit: cover;
//             object-position: bottom;
//             -webkit-transform: scale(1);
//             transform: scale(1);
//             -webkit-transition: .3s ease-in-out;
//             transition: .3s ease-in-out;

//             &:hover {
//               -webkit-transform: scale(1.3);
//               transform: scale(1.3);
//             }
//           }
//         }
      
//         .wp-block-media-text__content {
//           @apply self-start p-0 mt-6;

//           h3 {
//             @apply text-3xl;
//           }
//           p {
//             @apply text-lg;
//           }
//         }
//       }
//     }
//   }
// }

// menu, páginas etc

.wp-block-media-text__content {
  .wp-block-heading {
    @apply text-5xl lg:text-6xl my-4;
    
    strong {
      font-weight: normal;
    }
  }
}

.page main p {
  @apply text-lg xl:text-3xl mb-6;
}

.wp-block-media-text.alignwide.is-stacked-on-mobile {
  margin-bottom: 3rem;
}

//Swipe
// @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");


// .swiper {
//   max-width: 30%;
//   overflow: visible;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
// .swiper-slide {
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide::after {
//   position: absolute;
//   content: "";
//   inset: 0;
//   width: 100%;
//   aspect-ratio: 1/1;
//   border-radius: 50%;
//   background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e);
// }
// .swiper-slide-active::after {
//   background: none;
// }
// .swiper-slide > div {
//   text-align: center;
//   display: none;
//   opacity: 0;
// }
// .swiper-slide-active div {
//   display: block;
//   opacity: 1;
// }

// .swiper-slide h2 {
//   font-size: 1.2rem;
//   font-family: "Libre Baskerville", serif;
//   position: relative;
// }

// .swiper-slide h2::after {
//   position: absolute;
//   content: "";
//   bottom: -20px;
//   left: 50%;
//   transform: translateX(-50%);
//   height: 2px;
//   background: linear-gradient(#e66465, #9198e5);
// }

// @keyframes line {
//   0% {
//     width: 0;
//   }
//   100% {
//     width: 100%;
//   }
// }

// .swiper-slide-active h2::after {
//   animation: line 0.5s linear forwards;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   object-fit: cover;
//   box-shadow: 0px 3px 17px rgb(0 0 0 / 25%);
//   border-radius: 50%;
//   aspect-ratio: 1/1;
// }

// @media (min-width: 768px) {
//   .swiper-slide h2 {
//     font-size: 2rem;
//   }
// }

// .size-large {
//   @apply relative mx-auto overflow-hidden w-full h-auto;

//   object-fit: cover;
//   border-radius: 50%;
//   aspect-ratio: 1/1;

// }

// Reservas page
.wp-block-booking-booking {
  @apply text-center;
  
  .resource_selection_div {
    @apply text-2xl;

    .active_booking_form {
      @apply text-2xl;
    }
  }
}