@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./menu.scss";
@import "./arrowcdtop.scss";

@font-face {
    font-family: 'acumin_pro_extracondensedIt';
    src: url('~@fonts/Acumin/acumin_pro_extracondensed-webfont.eot');
    src: url('~@fonts/Acumin/acumin_pro_extracondensed-webfont.eot?#iefix') format("embedded-opentype"), url('~@fonts/Acumin/acumin_pro_extracondensed-webfont.woff2') format("woff2"), url('~@fonts/Acumin/acumin_pro_extracondensed-webfont.woff') format("woff"), url('~@fonts/Acumin/acumin_pro_extracondensed-webfont.ttf') format("truetype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprumregular';
    src: url('~@fonts/Cuprum/Cuprum-Regular-webfont.eot');
    src: url('~@fonts/Cuprum/Cuprum-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('~@fonts/Cuprum/Cuprum-Regular-webfont.woff') format("woff"), url('~@fonts/Cuprum/Cuprum-Regular-webfont.ttf') format("truetype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//   font-family: 'mobmenu';
//   font-display: swap;
// }

:root {
    --app-height: 100%;
}

body {
    font-family: 'cuprumregular', sans-serif;
}

.logohome,
.nav-primary {
    font-family: 'acumin_pro_extracondensedIt', sans-serif;
}

h2 {
  @apply text-3xl;
}

h3,
h4,
h5,
h6 {
  @apply text-2xl;
}

// p {
//   font-size: 1.5rem;
// }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

// #tela1 {
//   background-image: url("../images/pratos/pratohome2.webp");

// }

// Home
// #tela1 {
//     padding: 0;
//     margin: 0;
//     overflow: hidden;

//     // width: 100vw;
//     height: 85vh;

//     @media not all and (hover: hover) {
//         height: var(--app-height);
//     }
// }

.top-10 {
    top: 2.5rem;
    position: relative;
}

.qrr-booking-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;

    input,
    select,
    textarea {
        @apply text-gray-800;
    }
}

// Pages
// Cardapio
.cardapio {
    @apply bg-tijolocardapio;
}

.horarios {
    @apply bg-tijolohorarios text-white;

    .wp-block-image.invert img {
        filter: invert(100%);
    }
}

.galeria {
    @apply bg-tijolocardapio;
}

.reservas-data {
    @apply bg-tijologreen;

    form {
        @apply text-gray-200;
    }
}

picture {
  display: flex;
  justify-content: inherit;
}

// Wordpress blocks
// figure.wp-block-pullquote {
//   border-top: 5px solid black;
//   border-bottom: 5px solid black;
// }

// h2.has-text-align-center {
//   border-top: 5px solid black;
//   border-bottom: 5px solid black;
//   padding: 3.5rem 0;
//   margin-bottom: 2rem;
// }

// .wp-block-media-text__content {
//   margin-top: 1rem;
// }

// .wp-block-separator {
//   margin: 1rem 0rem 1rem 0rem;
// }

// .social-icons-div {
//   @apply transform hover:scale-150 transition duration-300 ease-in-out;
// }

// .footer-nav {
//   li {

//     &:hover {
//       text-decoration: underline; 
//     }
//   }
// }

// .wp-block-group.is-layout-constrained {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     grid-column-gap: 15px;
//     grid-row-gap: 15px;
    
//     .wp-block-media-text__media {
//       img {
//         @apply shadow-lg rounded-md max-w-full h-auto align-middle border-none;
//       }
//     }
      
// }

// Cardapio blocks

.cardapio {
  @apply text-tijolop bg-tijologreentext;

  .container {
    .wp-block-group {
      @apply grid grid-cols-1 lg:grid-cols-2 gap-20;

      .wp-block-media-text {
        @apply flex flex-col;

        .wp-block-media-text__media img {
          @apply h-96 lg:h-img-lg;
        }
      
        .wp-block-media-text__content {
          @apply self-start p-0 mt-6;

          h3 {
            @apply text-3xl;
          }
          p {
            @apply text-lg;
          }
        }
      }
    }
  }
}