// #logoname {
//   background-color: red;
//   transition: all .2s;
//   transform: translate(0, 0);

// }

// .shrink {
//   background-color: green;
//   font-size: 50px;
//   // padding: 10px 10px; /* Smaller padding */
//   transform: translate(0, -20px); /* Add a transform effect */
// }

#logoname {
  @apply text-8xl relative;
  
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  transform: translate(0, 0); /* Add a transform effect */
}

#logoname.shrink {
  @apply text-5xl top-8 relative;

  // background-color: green;
  transform: translate(0, -20px); /* Add a transform effect */
  transition: 0.2s;
}

.menu-menu-principal-container {
  @apply bg-tijolo w-full;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  ul#menu-menu-principal {

    li {
      margin-bottom: 1rem;
    }

    .sub-menu {
      @apply bg-tijolo pl-2 py-4;

    }

    li>a:not(:last-child)::after {
      content: " ▾";
    }

  }

}

@screen xl {

  .menu-menu-principal-container {
    box-shadow: none;

    ul#menu-menu-principal {

      li {
        margin-bottom: 0;

        a {

          @apply hover:text-neutral-700;
        }
      }

      .sub-menu {
        margin-left: 0;
        display: none;
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        // min-width: 15rem;
        // max-width: 25rem;
        width: 30rem;
        transition: all 0.5s ease;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        padding: 0.5rem 1rem 1rem 1rem;

        li {
          @apply py-2;
        }
      }

      li:hover>ul,
      li:focus-within>ul,
      li ul:hover,
      li ul:focus {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    li {
      position: relative;
      // transition-duration: 0.5s;

      ul li {
        clear: both;
        width: 100%;
      }

      &:focus-within a {
        outline: none;
      }

      &:hover,
      &:focus-within {
        cursor: pointer;
      }
    }
  }
}