# Application
web/app/plugins/*
!web/app/plugins/booking.bs.9.9.1
!web/app/plugins/wayfinder
!web/app/plugins/.gitkeep
!web/app/plugins/carousel-slider/
web/app/mu-plugins/*/
web/app/themes/twentytwentytwo/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
